# Project dependencies
.cache
node_modules
yarn-error.log
.yarn/cache

# Build directory
/public
.DS_Store

# IntelliJ IDEA
.idea

# VS Code
.vscode
.vercel

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Next
.next
