---
import { formatDistanceToNowStrict, parseISO } from 'date-fns';
import { type CollectionEntry, getCollection, render } from 'astro:content';

import RootLayout from '@layouts/RootLayout.astro';
import MdxContent from '@mdx-components/MdxContent.astro';

export async function getStaticPaths() {
  const posts = await getCollection('posts');

  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

interface Props {
  post: CollectionEntry<'posts'>;
}

const { post } = Astro.props;
const { Content } = await render(post);
const meta = post.data;
---

<RootLayout title={meta.title} description={meta.excerpt}>
  <main class="mx-auto mb-16 max-w-3xl p-4 [&>img]:mb-4">
    <div class="mb-1 flex items-center justify-between">
      <div class="text-xs">Posted {formatDistanceToNowStrict(parseISO(meta.date), { addSuffix: true })}</div>
    </div>
    <MdxContent>
      <Content />
    </MdxContent>
  </main>
</RootLayout>
