---
import RootLayout from '@/layouts/RootLayout.astro';
---

<RootLayout>
  <main class="mx-4 pb-16">
    <h1 class="text-shadow-dark my-20 text-4xl font-bold sm:text-7xl">karl.run()</h1>
  </main>
</RootLayout>
