---
import { formatDistanceToNowStrict, parseISO } from 'date-fns';

interface Props {
  title: string;
  subtitle: string;
  date: string;
  href: string;
}

const { title, subtitle, date, href } = Astro.props;
const postedDate = parseISO(date);
const hasDefaultSlot = Astro.slots.has('default');
---

<a href={href} class="relative flex grow rounded border p-4 backdrop-blur md:w-1/3">
  <div class="grow">
    <h3 class="font-bold">{title}</h3>
    <div class="mb-8">{subtitle}</div>
    <div class="absolute bottom-4 left-4" title={postedDate.toLocaleDateString()}>
      {formatDistanceToNowStrict(postedDate, { addSuffix: true })}
    </div>
  </div>
  {hasDefaultSlot && (
    <div>
      <slot />
    </div>
  )}
</a>
