---
import { formatDistanceToNowStrict, parseISO } from 'date-fns';
import { type CollectionEntry, getCollection, render } from 'astro:content';

import RootLayout from '@layouts/RootLayout.astro';
import { mdxComponents } from '@mdx-components/mdx-components';

export async function getStaticPaths() {
  const projects = await getCollection('projects');

  return projects.map((project) => ({
    params: { slug: project.id },
    props: { project },
  }));
}

interface Props {
  project: CollectionEntry<'projects'>;
}

const { project } = Astro.props;
const { Content } = await render(project);
const meta = project.data;
---

<RootLayout>
  <main class="mx-auto mb-16 max-w-3xl p-4 [&>img]:mb-4">
    <div class="mb-1 flex items-center justify-between text-xs">
      <div>Created {formatDistanceToNowStrict(parseISO(meta.date), { addSuffix: true })}</div>
      <a class="underline" href={meta.repo}>Github Source</a>
    </div>
    <Content components={mdxComponents} />
  </main>
</RootLayout>
