---
import { formatDistanceToNowStrict, parseISO } from 'date-fns';
import { getCollection, getEntry, render } from 'astro:content';

import { mdxComponents } from '@/mdx-components';
import RootLayout from '@/layouts/RootLayout.astro';

export function getStaticPaths() {
  return getCollection('projects').then((projects) =>
    projects.map((project) => ({
      params: { slug: project.id },
    })),
  );
}

const { slug } = Astro.params;

if (!slug) {
  throw new Error('Missing project slug');
}

const project = await getEntry('projects', slug);

if (!project) {
  throw new Error(`Unable to find project for slug: ${slug}`);
}

const { Content } = await render(project);
const meta = project.data;
const repoHref = meta.repo.startsWith('http') ? meta.repo : `https://github.com/karl-run/${meta.repo}`;
---

<RootLayout>
  <main class="mx-auto mb-16 max-w-3xl p-4 [&>img]:mb-4">
    <div class="mb-1 flex items-center justify-between text-xs">
      <div>Created {formatDistanceToNowStrict(parseISO(meta.date), { addSuffix: true })}</div>
      <a class="underline" href={repoHref}>Github Source</a>
    </div>
    <Content components={mdxComponents} />
  </main>
</RootLayout>
