---
import './styles/global.css';

import Nav from './components/Nav.astro';
import HeroImage from './components/HeroImage.astro';

---

<html lang="en" class="bg-[#071726]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="container mx-auto w-full text-slate-100">
    <Nav />
    <HeroImage />
    <slot />
  </body>
</html>
