---
import '@/styles/global.css';

import HeroImage from '@/components/HeroImage.astro';
import Nav from '@/components/Nav.astro';
---

<html lang="en" class="bg-[#071726]">
  <body class="container mx-auto w-full text-slate-100">
    <Nav />
    <HeroImage />
    <slot />
  </body>
</html>
